body,
html {
   height: 100%;
   padding: 0;
   margin: 0;
}

/* Header */
header {
   position: fixed;
   background: rgb(58, 58, 58);
   color: white;
   padding: 20px;
   font-size: 1.5rem;
   text-align: center;
   width: 100%;
   box-shadow: 1px 2px 23px 11px rgba(184, 182, 184, 0.54);
   padding: auto;
   min-height: 12%;
   box-sizing: border-box;
}

header p {
   padding: 0;
   margin: 0;
}

header div button {
   margin-top: 10px;
   font-size: 1rem;
   background: rgb(252, 248, 248);
   box-sizing: border-box;
}

/* Canvas */
canvas {
   display: block;
   width: 100%;
   background: rgb(126, 126, 126);
   height: 100vh;
}

/* Responsiveness*/

@media (max-width: 380px) {
   header {
      font-size: 1.2rem;
   }

   header div button {
      width: 19%;
      font-size: 1rem;
      background: rgb(252, 248, 248);
      overflow: hidden;
   }
}